# Import CHPPD data

In [1]:
# Specify the directory where  to save the plots
import os
plot_save_path="C:\\Users\\Jose Luis\\Desktop\\Plots"

In [2]:
import pandas as pd

# Using double backslashes
df = pd.read_excel("/Users/e410675/Library/CloudStorage/OneDrive-LondonSouthBankUniversity/LSBU - Jose's Collaborative Projects/Norfolk and Waveney CHPPD/2025 November/Data Engineering/Data/2-clean_data_trust_level with all hospitals.xlsx")

In [3]:
df

,Organisation Name,Organisation Code,CHPPD - Overall,CHPPD - Total Nurses & Midwives and Nursing Associates,CHPPD – Registered Nurses and Midwives,CHPPD – Healthcare Support Workers,CHPPD - Registered Nursing Associates,CHPPD - Unregistered Trainee Nursing Associates,CHPPD - Total AHPs,CHPPD - Registered AHPs,CHPPD - Unregistered AHPs,source file name,year_month,Year,Month,Year_Month
0,Cambridge University Hospitals,RGT,9.11,9.11,6.01,3.09,0.00,0.0,0.00,0.00,0.00,NHS England trust level CHPPD 2024-11.xlsx,2024-11,2024,11,2024-11
1,"Barking, Havering And Redbridge University Hos...",RF4,8.46,8.45,5.23,3.12,0.10,0.0,0.01,0.01,0.00,NHS England trust level CHPPD 2024-11.xlsx,2024-11,2024,11,2024-11
2,Moorfields Eye Hospital,RP6,56.96,56.96,48.21,8.74,0.00,0.0,0.00,0.00,0.00,NHS England trust level CHPPD 2024-11.xlsx,2024-11,2024,11,2024-11
3,Wirral University Teaching Hospital,RBL,7.01,6.40,3.59,2.81,0.00,0.0,0.61,0.50,0.11,NHS England trust level CHPPD 2024-11.xlsx,2024-11,2024,11,2024-11
4,Medway,RPA,9.07,9.07,5.41,3.65,0.00,0.0,0.00,0.00,0.00,NHS England trust level CHPPD 2024-11.xlsx,2024-11,2024,11,2024-11
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10522,Central London Community Healthcare,RYX,10.18,7.97,4.08,3.89,0.00,0.0,2.21,1.42,0.80,NHS England trust level CHPPD 2022-01.xlsx,2022-01,2022,1,2022-01
10523,Kent Community Health,RYY,8.31,8.18,3.53,4.53,0.12,0.0,0.13,0.00,0.13,NHS England trust level CHPPD 2022-01.xlsx,2022-01,2022,1,2022-01
10524,Bradford District Care,TAD,15.14,14.83,3.29,11.54,0.00,0.0,0.31,0.19,0.12,NHS England trust level CHPPD 2022-01.xlsx,2022-01,2022,1,2022-01
10525,Camden And Islington,TAF,8.81,8.81,3.36,5.45,0.00,0.0,0.00,0.00,0.00,NHS England trust level CHPPD 2022-01.xlsx,2022-01,2022,1,2022-01
10526,Sheffield Health And Social Care,TAH,12.88,12.72,3.72,9.00,0.00,0.0,0.16,0.12,0.04,NHS England trust level CHPPD 2022-01.xlsx,2022-01,2022,1,2022-01

In [4]:
df_with_total=df.copy()

In [5]:
# Selecting columns to sum
columns_to_sum = ['CHPPD – Healthcare Support Workers', 'CHPPD -  Registered Nursing Associates', 'CHPPD - Unregistered Trainee Nursing Associates', 'CHPPD - Total AHPs' , 'CHPPD - Registered AHPs', 'CHPPD - Unregistered AHPs']

# Creating a new column with the sum of selected columns
df_with_total['Non-registered Nurses'] = df_with_total[columns_to_sum].sum(axis=1)

In [6]:
# Select the two columns you want to put into a new DataFrame
columns_to_extract = ['Organisation Name', 'Organisation Code',	'CHPPD - Overall' , 'CHPPD – Registered Nurses and Midwives','Non-registered Nurses','year_month']
new_df = df_with_total[columns_to_extract].copy()

# Print the new DataFrame
new_df

,Organisation Name,Organisation Code,CHPPD - Overall,CHPPD – Registered Nurses and Midwives,Non-registered Nurses,year_month
0,Cambridge University Hospitals,RGT,9.11,6.01,3.09,2024-11
1,"Barking, Havering And Redbridge University Hos...",RF4,8.46,5.23,3.24,2024-11
2,Moorfields Eye Hospital,RP6,56.96,48.21,8.74,2024-11
3,Wirral University Teaching Hospital,RBL,7.01,3.59,4.03,2024-11
4,Medway,RPA,9.07,5.41,3.65,2024-11
...,...,...,...,...,...,...
10522,Central London Community Healthcare,RYX,10.18,4.08,8.32,2022-01
10523,Kent Community Health,RYY,8.31,3.53,4.91,2022-01
10524,Bradford District Care,TAD,15.14,3.29,12.16,2022-01
10525,Camden And Islington,TAF,8.81,3.36,5.45,2022-01
10526,Sheffield Health And Social Care,TAH,12.88,3.72,9.32,2022-01

In [7]:


# Move column 'A' to the first position
column_to_move = "year_month"
new_df = new_df[[column_to_move] + [col for col in new_df.columns if col != column_to_move]]

In [8]:
# Assuming filtered_df is your DataFrame and 'year_month' is the column to convert
new_df['year_month'] = pd.to_datetime(new_df['year_month']).dt.to_period('M')

In [9]:
df_chppd=new_df.copy()

# Import SHMI Data

In [10]:
# Specify the directory where  to save the plots
import os
plot_save_path="C:\\Users\\e410675\\OneDrive - London South Bank University\\Desktop\\Plots"

In [11]:
import pandas as pd

df = pd.read_csv("/Users/e410675/Library/CloudStorage/OneDrive-LondonSouthBankUniversity/LSBU - Jose's Collaborative Projects/Norfolk and Waveney CHPPD/2025 November/Data Engineering/Data/Historical_trust_level_SHMI_data_Jul24-Jun25_csv.csv")

# Display the first few rows of the dataframe

In [12]:
df

,TIME_PERIOD,PUBLICATION_MONTH,ORDER,PROVIDER_CODE,PROVIDER_NAME,SHMI_VALUE,SHMI_BANDING,PO_LL,PO_UL,OD_LL,...,DEPRIVATION_UNKNOWN_DEATHS,COVID_SPELLS,PRE_PANDEMIC_ACTIVITY,ELECTIVE_PRE_PANDEMIC_ACTIVITY,NONELECTIVE_PRE_PANDEMIC_ACTIVITY,ELECTIVE_CRUDE_RATE,NONELECTIVE_CRUDE_RATE,IN_HOSPITAL_DEATHS,OUT_HOSPITAL_DEATHS,SITE_CHANGE
0,JAN18_DEC18,MAY_19,1.0,RCF,AIREDALE NHS FOUNDATION TRUST,0.9028,2.0,0.9088,1.0974,0.8859,...,*,NaN,NaN,NaN,NaN,1.0,3.2,65.0,35.0,0.0
1,JAN18_DEC18,MAY_19,1.0,RTK,ASHFORD AND ST PETER'S HOSPITALS NHS FOUNDATIO...,0.9971,2.0,0.9271,1.0769,0.8908,...,1.0,NaN,NaN,NaN,NaN,0.0,4.8,71.0,29.0,0.2
2,JAN18_DEC18,MAY_19,1.0,RF4,"BARKING, HAVERING AND REDBRIDGE UNIVERSITY HOS...",0.9537,2.0,0.9461,1.056,0.8949,...,3.0,NaN,NaN,NaN,NaN,1.0,3.8,72.0,28.0,1.8
3,JAN18_DEC18,MAY_19,1.0,RFF,BARNSLEY HOSPITAL NHS FOUNDATION TRUST,1.0086,2.0,0.9248,1.0794,0.8903,...,2.0,NaN,NaN,NaN,NaN,0.0,3.9,68.0,32.0,0.0
4,JAN18_DEC18,MAY_19,1.0,R1H,BARTS HEALTH NHS TRUST,0.8861,3.0,0.9534,1.0482,0.8961,...,3.0,NaN,NaN,NaN,NaN,1.0,2.4,78.0,22.0,0.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9668,JUL24_JUN25,NOV_25,79.0,RBL,WIRRAL UNIVERSITY TEACHING HOSPITAL NHS FOUNDA...,1.0131,2.0,0.9328,1.0705,0.8547,...,9.0,0.9,101.0,92.0,102.0,0.0,3.4,75.0,25.0,0.4
9669,JUL24_JUN25,NOV_25,79.0,RWP,WORCESTERSHIRE ACUTE HOSPITALS NHS TRUST,1.1177,2.0,0.9428,1.0596,0.8561,...,0.0,1.8,84.0,81.0,85.0,1.0,5.4,63.0,37.0,0.6
9670,JUL24_JUN25,NOV_25,79.0,RRF,"WRIGHTINGTON, WIGAN AND LEIGH NHS FOUNDATION T...",1.0296,2.0,0.9263,1.0777,0.8536,...,*,0.8,105.0,113.0,104.0,0.0,4.3,66.0,34.0,0.7
9671,JUL24_JUN25,NOV_25,79.0,RLQ,WYE VALLEY NHS TRUST,1.1194,2.0,0.915,1.0904,0.8515,...,15.0,0.9,102.0,273.0,78.0,0.0,6.1,66.0,34.0,4.0
9672,JUL24_JUN25,NOV_25,79.0,RCB,YORK AND SCARBOROUGH TEACHING HOSPITALS NHS FO...,0.922,2.0,0.9481,1.0539,0.8568,...,1.0,1.3,110.0,109.0,111.0,1.0,3.3,69.0,31.0,2.6

In [13]:
#df = df[df['PROVIDER_NAME'].isin([
#    "JAMES PAGET UNIVERSITY HOSPITALS NHS FOUNDATION TRUST",
#    "THE QUEEN ELIZABETH HOSPITAL, KING'S LYNN, NHS FOUNDATION TRUST",
#    "NORFOLK AND NORWICH UNIVERSITY HOSPITALS NHS FOUNDATION TRUST"
#])]

In [14]:
# Replace any occurrences of '**' with 0 in the 'SHMI_VALUE' column
df['SHMI_VALUE'] = df['SHMI_VALUE'].replace('**', 0)

# Convert the 'SHMI_VALUE' column to float, ensuring it's numeric
df['SHMI_VALUE'] = pd.to_numeric(df['SHMI_VALUE'], errors='coerce')

In [15]:
# Create a new column with the part of TIME_PERIOD after the underscore
df['MONTH_YEAR'] = df['TIME_PERIOD'].str.split('_').str[1]

# Convert 'MONTH_YEAR' to a datetime format
df['MONTH_YEAR'] = pd.to_datetime(df['MONTH_YEAR'], format='%b%y').dt.to_period('M')

# Capitalize the first letter of each word in the PROVIDER_NAME column
df['PROVIDER_NAME'] = df['PROVIDER_NAME'].str.title()

In [16]:
df

,TIME_PERIOD,PUBLICATION_MONTH,ORDER,PROVIDER_CODE,PROVIDER_NAME,SHMI_VALUE,SHMI_BANDING,PO_LL,PO_UL,OD_LL,...,COVID_SPELLS,PRE_PANDEMIC_ACTIVITY,ELECTIVE_PRE_PANDEMIC_ACTIVITY,NONELECTIVE_PRE_PANDEMIC_ACTIVITY,ELECTIVE_CRUDE_RATE,NONELECTIVE_CRUDE_RATE,IN_HOSPITAL_DEATHS,OUT_HOSPITAL_DEATHS,SITE_CHANGE,MONTH_YEAR
0,JAN18_DEC18,MAY_19,1.0,RCF,Airedale Nhs Foundation Trust,0.9028,2.0,0.9088,1.0974,0.8859,...,NaN,NaN,NaN,NaN,1.0,3.2,65.0,35.0,0.0,2018-12
1,JAN18_DEC18,MAY_19,1.0,RTK,Ashford And St Peter'S Hospitals Nhs Foundatio...,0.9971,2.0,0.9271,1.0769,0.8908,...,NaN,NaN,NaN,NaN,0.0,4.8,71.0,29.0,0.2,2018-12
2,JAN18_DEC18,MAY_19,1.0,RF4,"Barking, Havering And Redbridge University Hos...",0.9537,2.0,0.9461,1.056,0.8949,...,NaN,NaN,NaN,NaN,1.0,3.8,72.0,28.0,1.8,2018-12
3,JAN18_DEC18,MAY_19,1.0,RFF,Barnsley Hospital Nhs Foundation Trust,1.0086,2.0,0.9248,1.0794,0.8903,...,NaN,NaN,NaN,NaN,0.0,3.9,68.0,32.0,0.0,2018-12
4,JAN18_DEC18,MAY_19,1.0,R1H,Barts Health Nhs Trust,0.8861,3.0,0.9534,1.0482,0.8961,...,NaN,NaN,NaN,NaN,1.0,2.4,78.0,22.0,0.2,2018-12
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9668,JUL24_JUN25,NOV_25,79.0,RBL,Wirral University Teaching Hospital Nhs Founda...,1.0131,2.0,0.9328,1.0705,0.8547,...,0.9,101.0,92.0,102.0,0.0,3.4,75.0,25.0,0.4,2025-06
9669,JUL24_JUN25,NOV_25,79.0,RWP,Worcestershire Acute Hospitals Nhs Trust,1.1177,2.0,0.9428,1.0596,0.8561,...,1.8,84.0,81.0,85.0,1.0,5.4,63.0,37.0,0.6,2025-06
9670,JUL24_JUN25,NOV_25,79.0,RRF,"Wrightington, Wigan And Leigh Nhs Foundation T...",1.0296,2.0,0.9263,1.0777,0.8536,...,0.8,105.0,113.0,104.0,0.0,4.3,66.0,34.0,0.7,2025-06
9671,JUL24_JUN25,NOV_25,79.0,RLQ,Wye Valley Nhs Trust,1.1194,2.0,0.915,1.0904,0.8515,...,0.9,102.0,273.0,78.0,0.0,6.1,66.0,34.0,4.0,2025-06
9672,JUL24_JUN25,NOV_25,79.0,RCB,York And Scarborough Teaching Hospitals Nhs Fo...,0.9220,2.0,0.9481,1.0539,0.8568,...,1.3,110.0,109.0,111.0,1.0,3.3,69.0,31.0,2.6,2025-06

In [17]:
# Filter for rows where "TIME_PERIOD" contains both "JAN" and "DEC"
#df = df[df['TIME_PERIOD'].str.contains("JAN") & df['TIME_PERIOD'].str.contains("DEC")]

In [18]:
df

,TIME_PERIOD,PUBLICATION_MONTH,ORDER,PROVIDER_CODE,PROVIDER_NAME,SHMI_VALUE,SHMI_BANDING,PO_LL,PO_UL,OD_LL,...,COVID_SPELLS,PRE_PANDEMIC_ACTIVITY,ELECTIVE_PRE_PANDEMIC_ACTIVITY,NONELECTIVE_PRE_PANDEMIC_ACTIVITY,ELECTIVE_CRUDE_RATE,NONELECTIVE_CRUDE_RATE,IN_HOSPITAL_DEATHS,OUT_HOSPITAL_DEATHS,SITE_CHANGE,MONTH_YEAR
0,JAN18_DEC18,MAY_19,1.0,RCF,Airedale Nhs Foundation Trust,0.9028,2.0,0.9088,1.0974,0.8859,...,NaN,NaN,NaN,NaN,1.0,3.2,65.0,35.0,0.0,2018-12
1,JAN18_DEC18,MAY_19,1.0,RTK,Ashford And St Peter'S Hospitals Nhs Foundatio...,0.9971,2.0,0.9271,1.0769,0.8908,...,NaN,NaN,NaN,NaN,0.0,4.8,71.0,29.0,0.2,2018-12
2,JAN18_DEC18,MAY_19,1.0,RF4,"Barking, Havering And Redbridge University Hos...",0.9537,2.0,0.9461,1.056,0.8949,...,NaN,NaN,NaN,NaN,1.0,3.8,72.0,28.0,1.8,2018-12
3,JAN18_DEC18,MAY_19,1.0,RFF,Barnsley Hospital Nhs Foundation Trust,1.0086,2.0,0.9248,1.0794,0.8903,...,NaN,NaN,NaN,NaN,0.0,3.9,68.0,32.0,0.0,2018-12
4,JAN18_DEC18,MAY_19,1.0,R1H,Barts Health Nhs Trust,0.8861,3.0,0.9534,1.0482,0.8961,...,NaN,NaN,NaN,NaN,1.0,2.4,78.0,22.0,0.2,2018-12
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9668,JUL24_JUN25,NOV_25,79.0,RBL,Wirral University Teaching Hospital Nhs Founda...,1.0131,2.0,0.9328,1.0705,0.8547,...,0.9,101.0,92.0,102.0,0.0,3.4,75.0,25.0,0.4,2025-06
9669,JUL24_JUN25,NOV_25,79.0,RWP,Worcestershire Acute Hospitals Nhs Trust,1.1177,2.0,0.9428,1.0596,0.8561,...,1.8,84.0,81.0,85.0,1.0,5.4,63.0,37.0,0.6,2025-06
9670,JUL24_JUN25,NOV_25,79.0,RRF,"Wrightington, Wigan And Leigh Nhs Foundation T...",1.0296,2.0,0.9263,1.0777,0.8536,...,0.8,105.0,113.0,104.0,0.0,4.3,66.0,34.0,0.7,2025-06
9671,JUL24_JUN25,NOV_25,79.0,RLQ,Wye Valley Nhs Trust,1.1194,2.0,0.915,1.0904,0.8515,...,0.9,102.0,273.0,78.0,0.0,6.1,66.0,34.0,4.0,2025-06
9672,JUL24_JUN25,NOV_25,79.0,RCB,York And Scarborough Teaching Hospitals Nhs Fo...,0.9220,2.0,0.9481,1.0539,0.8568,...,1.3,110.0,109.0,111.0,1.0,3.3,69.0,31.0,2.6,2025-06

In [19]:
df.rename(columns={'PROVIDER_NAME': 'Organisation Name', 'PROVIDER_CODE' :  'Organisation Code', 'MONTH_YEAR': 'year_month'}, inplace=True)

In [20]:
df

,TIME_PERIOD,PUBLICATION_MONTH,ORDER,Organisation Code,Organisation Name,SHMI_VALUE,SHMI_BANDING,PO_LL,PO_UL,OD_LL,...,COVID_SPELLS,PRE_PANDEMIC_ACTIVITY,ELECTIVE_PRE_PANDEMIC_ACTIVITY,NONELECTIVE_PRE_PANDEMIC_ACTIVITY,ELECTIVE_CRUDE_RATE,NONELECTIVE_CRUDE_RATE,IN_HOSPITAL_DEATHS,OUT_HOSPITAL_DEATHS,SITE_CHANGE,year_month
0,JAN18_DEC18,MAY_19,1.0,RCF,Airedale Nhs Foundation Trust,0.9028,2.0,0.9088,1.0974,0.8859,...,NaN,NaN,NaN,NaN,1.0,3.2,65.0,35.0,0.0,2018-12
1,JAN18_DEC18,MAY_19,1.0,RTK,Ashford And St Peter'S Hospitals Nhs Foundatio...,0.9971,2.0,0.9271,1.0769,0.8908,...,NaN,NaN,NaN,NaN,0.0,4.8,71.0,29.0,0.2,2018-12
2,JAN18_DEC18,MAY_19,1.0,RF4,"Barking, Havering And Redbridge University Hos...",0.9537,2.0,0.9461,1.056,0.8949,...,NaN,NaN,NaN,NaN,1.0,3.8,72.0,28.0,1.8,2018-12
3,JAN18_DEC18,MAY_19,1.0,RFF,Barnsley Hospital Nhs Foundation Trust,1.0086,2.0,0.9248,1.0794,0.8903,...,NaN,NaN,NaN,NaN,0.0,3.9,68.0,32.0,0.0,2018-12
4,JAN18_DEC18,MAY_19,1.0,R1H,Barts Health Nhs Trust,0.8861,3.0,0.9534,1.0482,0.8961,...,NaN,NaN,NaN,NaN,1.0,2.4,78.0,22.0,0.2,2018-12
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9668,JUL24_JUN25,NOV_25,79.0,RBL,Wirral University Teaching Hospital Nhs Founda...,1.0131,2.0,0.9328,1.0705,0.8547,...,0.9,101.0,92.0,102.0,0.0,3.4,75.0,25.0,0.4,2025-06
9669,JUL24_JUN25,NOV_25,79.0,RWP,Worcestershire Acute Hospitals Nhs Trust,1.1177,2.0,0.9428,1.0596,0.8561,...,1.8,84.0,81.0,85.0,1.0,5.4,63.0,37.0,0.6,2025-06
9670,JUL24_JUN25,NOV_25,79.0,RRF,"Wrightington, Wigan And Leigh Nhs Foundation T...",1.0296,2.0,0.9263,1.0777,0.8536,...,0.8,105.0,113.0,104.0,0.0,4.3,66.0,34.0,0.7,2025-06
9671,JUL24_JUN25,NOV_25,79.0,RLQ,Wye Valley Nhs Trust,1.1194,2.0,0.915,1.0904,0.8515,...,0.9,102.0,273.0,78.0,0.0,6.1,66.0,34.0,4.0,2025-06
9672,JUL24_JUN25,NOV_25,79.0,RCB,York And Scarborough Teaching Hospitals Nhs Fo...,0.9220,2.0,0.9481,1.0539,0.8568,...,1.3,110.0,109.0,111.0,1.0,3.3,69.0,31.0,2.6,2025-06

In [21]:
df_shmi=df.copy()

In [22]:
# Perform an inner join on 'Organisation Name' and 'year_month'
result = pd.merge(df_chppd, df_shmi, on=['Organisation Code', 'year_month'], how='inner')

In [23]:
result

,year_month,Organisation Name_x,Organisation Code,CHPPD - Overall,CHPPD – Registered Nurses and Midwives,Non-registered Nurses,TIME_PERIOD,PUBLICATION_MONTH,ORDER,Organisation Name_y,...,DEPRIVATION_UNKNOWN_DEATHS,COVID_SPELLS,PRE_PANDEMIC_ACTIVITY,ELECTIVE_PRE_PANDEMIC_ACTIVITY,NONELECTIVE_PRE_PANDEMIC_ACTIVITY,ELECTIVE_CRUDE_RATE,NONELECTIVE_CRUDE_RATE,IN_HOSPITAL_DEATHS,OUT_HOSPITAL_DEATHS,SITE_CHANGE
0,2024-11,Cambridge University Hospitals,RGT,9.11,6.01,3.09,DEC23_NOV24,APR_25,72.0,Cambridge University Hospitals Nhs Foundation ...,...,1.0,2.7,88.0,102.0,85.0,0.0,4.5,64.0,36.0,0.3
1,2024-11,"Barking, Havering And Redbridge University Hos...",RF4,8.46,5.23,3.24,DEC23_NOV24,APR_25,72.0,"Barking, Havering And Redbridge University Hos...",...,8.0,0.6,152.0,121.0,156.0,1.0,2.3,71.0,29.0,0.6
2,2024-11,Wirral University Teaching Hospital,RBL,7.01,3.59,4.03,DEC23_NOV24,APR_25,72.0,Wirral University Teaching Hospital Nhs Founda...,...,17.0,1.3,99.0,93.0,100.0,0.0,3.4,77.0,23.0,0.1
3,2024-11,Medway,RPA,9.07,5.41,3.65,DEC23_NOV24,APR_25,72.0,Medway Nhs Foundation Trust,...,*,1.6,87.0,87.0,87.0,0.0,4.2,71.0,29.0,1.0
4,2024-11,Oxford University Hospitals,RTH,9.89,6.68,3.21,DEC23_NOV24,APR_25,72.0,Oxford University Hospitals Nhs Foundation Trust,...,1.0,1.4,110.0,87.0,114.0,1.0,2.7,68.0,32.0,0.6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6190,2022-01,Buckinghamshire Healthcare,RXQ,5.88,3.58,2.32,FEB21_JAN22,JUN_22,38.0,Buckinghamshire Healthcare Nhs Trust,...,*,2.3,93.0,72.0,94.0,1.0,2.7,73.0,26.0,1.4
6191,2022-01,East Lancashire Hospitals,RXR,8.88,5.09,3.78,FEB21_JAN22,JUN_22,38.0,East Lancashire Hospitals Nhs Trust,...,*,3.7,92.0,93.0,92.0,1.0,3.2,67.0,33.0,3.1
6192,2022-01,Shrewsbury And Telford Hospital,RXW,8.02,4.73,3.29,FEB21_JAN22,JUN_22,38.0,The Shrewsbury And Telford Hospital Nhs Trust,...,11.0,2.9,88.0,69.0,90.0,1.0,3.8,60.0,40.0,0.8
6193,2022-01,Imperial College Healthcare,RYJ,10.81,7.93,2.89,FEB21_JAN22,JUN_22,38.0,Imperial College Healthcare Nhs Trust,...,2.0,3.3,85.0,90.0,84.0,1.0,2.3,73.0,27.0,0.3
6194,2022-01,University Hospitals Sussex,RYR,6.87,4.08,2.79,FEB21_JAN22,JUN_22,38.0,University Hospitals Sussex Nhs Foundation Trust,...,2.0,2.5,91.0,84.0,92.0,1.0,3.9,64.0,36.0,1.1

In [24]:
# Standardize "Nhs" to "NHS" in the "Organisation Name_y" column
result['Organisation Name_y'] = result['Organisation Name_y'].str.replace('Nhs', 'NHS', case=False)

In [25]:
# Rename the column "Organisation Name_y" to "Organisation Name"
result.rename(columns={'Organisation Name_y': 'Organisation Name'}, inplace=True)

In [26]:
result

,year_month,Organisation Name_x,Organisation Code,CHPPD - Overall,CHPPD – Registered Nurses and Midwives,Non-registered Nurses,TIME_PERIOD,PUBLICATION_MONTH,ORDER,Organisation Name,...,DEPRIVATION_UNKNOWN_DEATHS,COVID_SPELLS,PRE_PANDEMIC_ACTIVITY,ELECTIVE_PRE_PANDEMIC_ACTIVITY,NONELECTIVE_PRE_PANDEMIC_ACTIVITY,ELECTIVE_CRUDE_RATE,NONELECTIVE_CRUDE_RATE,IN_HOSPITAL_DEATHS,OUT_HOSPITAL_DEATHS,SITE_CHANGE
0,2024-11,Cambridge University Hospitals,RGT,9.11,6.01,3.09,DEC23_NOV24,APR_25,72.0,Cambridge University Hospitals NHS Foundation ...,...,1.0,2.7,88.0,102.0,85.0,0.0,4.5,64.0,36.0,0.3
1,2024-11,"Barking, Havering And Redbridge University Hos...",RF4,8.46,5.23,3.24,DEC23_NOV24,APR_25,72.0,"Barking, Havering And Redbridge University Hos...",...,8.0,0.6,152.0,121.0,156.0,1.0,2.3,71.0,29.0,0.6
2,2024-11,Wirral University Teaching Hospital,RBL,7.01,3.59,4.03,DEC23_NOV24,APR_25,72.0,Wirral University Teaching Hospital NHS Founda...,...,17.0,1.3,99.0,93.0,100.0,0.0,3.4,77.0,23.0,0.1
3,2024-11,Medway,RPA,9.07,5.41,3.65,DEC23_NOV24,APR_25,72.0,Medway NHS Foundation Trust,...,*,1.6,87.0,87.0,87.0,0.0,4.2,71.0,29.0,1.0
4,2024-11,Oxford University Hospitals,RTH,9.89,6.68,3.21,DEC23_NOV24,APR_25,72.0,Oxford University Hospitals NHS Foundation Trust,...,1.0,1.4,110.0,87.0,114.0,1.0,2.7,68.0,32.0,0.6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6190,2022-01,Buckinghamshire Healthcare,RXQ,5.88,3.58,2.32,FEB21_JAN22,JUN_22,38.0,Buckinghamshire Healthcare NHS Trust,...,*,2.3,93.0,72.0,94.0,1.0,2.7,73.0,26.0,1.4
6191,2022-01,East Lancashire Hospitals,RXR,8.88,5.09,3.78,FEB21_JAN22,JUN_22,38.0,East Lancashire Hospitals NHS Trust,...,*,3.7,92.0,93.0,92.0,1.0,3.2,67.0,33.0,3.1
6192,2022-01,Shrewsbury And Telford Hospital,RXW,8.02,4.73,3.29,FEB21_JAN22,JUN_22,38.0,The Shrewsbury And Telford Hospital NHS Trust,...,11.0,2.9,88.0,69.0,90.0,1.0,3.8,60.0,40.0,0.8
6193,2022-01,Imperial College Healthcare,RYJ,10.81,7.93,2.89,FEB21_JAN22,JUN_22,38.0,Imperial College Healthcare NHS Trust,...,2.0,3.3,85.0,90.0,84.0,1.0,2.3,73.0,27.0,0.3
6194,2022-01,University Hospitals Sussex,RYR,6.87,4.08,2.79,FEB21_JAN22,JUN_22,38.0,University Hospitals Sussex NHS Foundation Trust,...,2.0,2.5,91.0,84.0,92.0,1.0,3.9,64.0,36.0,1.1

### Fill Missing or Zero CHPPD Values Using Previous Month for Each Organisation

In [27]:
import pandas as pd
import numpy as np

# trabalhar directamente no df result
df = result.copy()

# 🔹 NÃO converter year_month para datetime – usar como string
# Garantir só que não há espaços estranhos
df["year_month"] = df["year_month"].astype(str).str.strip()

# ordenar por organização e ano/mês (como string "YYYY-MM" funciona bem)
df = df.sort_values(["Organisation Name_x", "year_month"])

# colunas a corrigir
cols_to_fix = [
    "CHPPD - Overall",
    "CHPPD – Registered Nurses and Midwives",
    "Non-registered Nurses"
]

# substituir zeros por NaN
df[cols_to_fix] = df[cols_to_fix].replace(0, np.nan)

# forward fill dentro de cada organização
df[cols_to_fix] = df.groupby("Organisation Name_x")[cols_to_fix].ffill()

# backfill se o primeiro registo da org for NaN
df[cols_to_fix] = df.groupby("Organisation Name_x")[cols_to_fix].bfill()

# guardar de volta
result = df.copy()

In [28]:
result.to_csv("/Users/e410675/Library/CloudStorage/OneDrive-LondonSouthBankUniversity/LSBU - Jose's Collaborative Projects/Norfolk and Waveney CHPPD/2025 November/Data Engineering/Data/3-chppd-smhi_merged with all data.csv", index=False)

In [29]:
result.isna().sum()

year_month                                  0
Organisation Name_x                         0
Organisation Code                           0
CHPPD - Overall                             0
CHPPD – Registered Nurses and Midwives      0
Non-registered Nurses                       0
TIME_PERIOD                                 0
PUBLICATION_MONTH                           0
ORDER                                       0
Organisation Name                           0
SHMI_VALUE                                  0
SHMI_BANDING                                0
PO_LL                                       0
PO_UL                                       0
OD_LL                                       0
OD_UL                                       0
SPELLS                                      0
OBSERVED                                    0
EXPECTED                                    0
INVALID_DIAG                                0
SYMPTOMS_DIAG                               0
ELECTIVE_DEPTH                              0
NONELECTIVE_DEPTH                           0
PALLIATIVE_SPELLS                           0
PALLIATIVE_SPELLS_TREATMENT                 0
PALLIATIVE_SPELLS_DIAG                      0
PALLIATIVE_DEATHS                           0
PALLIATIVE_DEATHS_TREATMENT                 0
PALLIATIVE_DEATHS_DIAG                      0
DEPRIVATION_Q1_SPELLS                       0
DEPRIVATION_Q2_SPELLS                       0
DEPRIVATION_Q3_SPELLS                       0
DEPRIVATION_Q4_SPELLS                       0
DEPRIVATION_Q5_SPELLS                       0
DEPRIVATION_UNKNOWN_SPELLS                  0
DEPRIVATION_Q1_DEATHS                       0
DEPRIVATION_Q2_DEATHS                       0
DEPRIVATION_Q3_DEATHS                       0
DEPRIVATION_Q4_DEATHS                       0
DEPRIVATION_Q5_DEATHS                       0
DEPRIVATION_UNKNOWN_DEATHS                  0
COVID_SPELLS                                0
PRE_PANDEMIC_ACTIVITY                     113
ELECTIVE_PRE_PANDEMIC_ACTIVITY            113
NONELECTIVE_PRE_PANDEMIC_ACTIVITY         113
ELECTIVE_CRUDE_RATE                         0
NONELECTIVE_CRUDE_RATE                      0
IN_HOSPITAL_DEATHS                          0
OUT_HOSPITAL_DEATHS                         0
SITE_CHANGE                                 0
dtype: int64